<div class="row">

    <div class="col-xs-12">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" ngModel required class="form-control" name="name" #name="ngModel">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" ngModel required class="form-control" name="amount"
                        pattern="^[0-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit"
                        [disabled]="f.invalid">{{editing?'Edit':'Add'}}</button>
                    &nbsp;
                    <button *ngIf="editing" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
                    &nbsp;
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>